body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #222224
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  outline: 1px solid blue;
}

header {
  height: 150px;
  /* width: 100%; */
  background-color:#ee1515;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  
}

h1 {
  text-align: center;
}



.title {
  width: 500px;
  color: white;
  text-shadow: black 1px 1px;
  font-size: 4rem;
  margin: auto 0 auto auto;
}

.score-board {
  display: flex;
  flex-flow: row;
  font-size: 2rem;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
}